<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/main">

<head>
    <title>Access Denied</title>

    <style>
        h2 {
            font-size: 65px;
            font-weight: normal;
            color: #C6C6C6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="container body-container">

      <div class="page-title">
          <h1 class="h1">  Oops!!</h1>
      </div>

        <h3> It's looking like you don't have access of that page.</h3>
        <br/>
        <br/>
        <br/>

    </div>
</section>
</body>
</html>