<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">

<head>
    <title>Password Change</title>

</head>

<body>
<div layout:fragment="content">

    <div class="container body-container">

        <div class="page-title">
            <h1 class="h1">Change Password</h1>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div layout:include="layout/common-fragment :: sidebar"></div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="text-uppercase">Change Current Password</span></div>

                    <form class="form-horizontal" role="form" th:action="@{/user/change-password}" novalidate="novalidate"
                          th:object="${passwordForm}" method="post">
                        <div class="panel-body">
                            <fieldset>

                                <div th:if="${message}" class="alert alert-info">
                                    <p th:text="${message}"></p>
                                </div>

                                <div class="form-group">
                                    <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>

                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="currentPassword" required="required"
                                               placeholder="Current password" th:field="*{currentPassword}"/>
                                    </div>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('currentPassword')}">
                                        <span th:errors="*{currentPassword}">Required</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="newPassword" class="col-sm-3 control-label"> New Password</label>

                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="newPassword" required="required"
                                               placeholder="New Password" th:field="*{newPassword}"/>
                                    </div>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('newPassword')}">
                                        <span th:errors="*{newPassword}">Required</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="newPasswordConfirmed" class="col-sm-3 control-label">New Password
                                        Confirmed</label>

                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="newPasswordConfirmed" required="required"
                                               placeholder="New Password Confirmed" th:field="*{newPasswordConfirmed}"/>
                                    </div>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('newPasswordConfirmed')}">
                                        <span th:errors="*{newPasswordConfirmed}">Required</span>
                                    </p>
                                </div>

                            </fieldset>
                        </div>

                        <div class="panel-footer clearfix">

                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-success">
                                    Save Changes <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>
