<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">

<head>
    <title>Section :: Program</title>
    <link href="/css/program-breadcrumbs.css?version=1.0" th:href="@{/css/program-breadcrumbs.css?version=1.0}" rel="stylesheet"/>
</head>

<body th:with="page='section'">

<section layout:fragment="content" ng-app="sportsRegApp" ng-cloak="">
    <div class="container body-container"  ng-controller="SectionController">

        <div layout:include="layout/common-fragment :: program-breadcrumbs"></div>

        <div class="panel panel-primary">

            <input type="hidden" name="programId" th:value="${program.id}"/>

            <div class="panel-heading contains-buttons">

                <div class="btn-group pull-right">
                    <a type="button" href="#" class="btn btn-default btn-xs"
                       ng-click="addSectionToProgram()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

                <span class="text-uppercase">Sections</span>

            </div>

            <div class="panel-body">

                <div class="alert alert-success" ng-show="alertSuccess">
                    <button type="button" class="close" data-ng-click="switchBool('alertSuccess')">×</button>
                    <strong>Done! </strong> <span ng-bind-html="successMessage"/>
                </div>

                <div class="alert alert-danger" ng-show="alertFailure">
                    <button type="button" class="close" data-ng-click="switchBool('alertFailure')">×</button>
                    <strong>Error! </strong> <span ng-bind-html="errorMessage"/>
                </div>

                <table class="table table-hover table-bordered" style="margin-top: 5px">
                    <thead>
                    <tr class="info">
                        <th th:text="#{label.programForm.sectionName}">Section Name</th>
                        <th th:text="#{label.programForm.sectionCode}">Section Code</th>
                        <th th:text="#{label.programForm.openDate}">Start Date</th>
                        <th th:text="#{label.programForm.closeDate}">End Date</th>
                        <th th:text="#{label.programForm.spaceLimit}">Space Limit</th>
                        <td th:text="#{label.programForm.price}">Price</td>
                        <th th:text="#{label.programForm.meetingTime}">Meeting Time</th>
                        <th th:text="#{button.edit}">Edit</th>
                        <th th:text="#{button.delete}">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="section in sections">
                        <td>{{section.name}}</td>
                        <td>{{section.sectionCode}}</td>
                        <td>{{section.openDate | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{section.closeDate | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{section.spaceLimit}}</td>
                        <td>{{section.price}}</td>
                        <td>{{section.meetingTime}}</td>

                        <td>
                            <a class="btn" ng-click="editSection(section);">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>

                        <td>
                            <a class="btn" ng-really-click="deleteSection(section);">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-left">
                    <a th:if="${program != null and program.id != null}" href="#" class="btn btn-warning"
                       th:href="@{/program/create/__${program.id}__/location}"> <span
                            class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
                </div>

                <div class="pull-right">
                    <button type="submit" ng-click="moveToSectionPage()" class="btn btn-success"> Continue <span
                            class="glyphicon glyphicon-circle-arrow-right"></span></button>
                </div>
            </div>

        </div>

    </div>
</section>

<div layout:fragment="custom-scripts">
    <script src="/js/controllers/section-controller.js" th:src="@{/js/controllers/section-controller.js?version=1.0}"></script>
    <script src="/js/service/program.service.js?version=1.0" th:src="@{/js/service/program.service.js?version=1.0}"></script>
</div>

</body>
</html>