<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${organization.name}"></title>

</head>
<body>
<section layout:fragment="content">
    <div class="container" style="margin-top: 110px">
        <div class="page-title">
            <h1 class="h1"><span th:text="${organization.name}"> </span> <i>
                <small class="h3" th:text="${organization.slogan}"></small>
            </i></h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <div class="panel-body" style="margin-left: 0; padding-left: 0; margin-top: 30px">
                    <div class="description text-justify" th:utext="${organization.description}"></div>
                </div>

                <div class="page-title"><span class="h1">Programs</span></div>
                <div th:if="${#sets.isEmpty(programs)}">
                    <p> There currently are no programs published for this organization</p>
                </div>

                <table th:unless="${#sets.isEmpty(programs)}" class="table table-hover table-bordered">
                    <thead>
                    <tr class="info">
                        <th> Program Name</th>
                        <th> Reg. Start Date</th>
                        <th> Reg. End Date</th>
                        <th> Registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="program, iterStat : ${programs}" th:class="${iterStat.odd}? 'odd'">
                        <td>
                            <span th:if="${#strings.toString(program.publish.programStatus).toUpperCase()=='OPEN'}">
                                <a th:href="@{/organizations/__${program.organization.slug}__/programs/__${program.slug}__}">
                                    <span th:text="${program.name}"></span></a>
                            </span>
                            <span th:unless="${#strings.toString(program.publish.programStatus).toUpperCase()=='OPEN'}">
                                    <span th:text="${program.name}"></span>
                            </span>
                        </td>

                        <td>
                            <span th:if="${program.publish.registrationOpenDate != null}" th:text="${#dates.format(program.publish.registrationOpenDate, 'dd MMM yyyy')}"></span>
                        </td>

                        <td>
                            <span th:if="${program.publish.registrationCloseDate != null}" th:text="${#dates.format(program.publish.registrationCloseDate, 'dd MMM yyyy')}"></span>
                        </td>

                        <td>
                            <span th:text="${program.publish.programStatus}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-6 col-md-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">Contact Us</div>
                    <div class="panel-body">

                        <address th:each="contact : ${contacts}">
                            <strong> <span th:text="${contact.getFullName()}"></span></strong><br/>
                            <span th:text="${contact.email}"></span><br/>
                        </address>
                    </div>
                </div>

                <div th:if="${organization.address != null}" class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title">Locations</h3>
                    </div>
                    <div class="panel-body">
                        <div th:utext="${organization.address.getAddressAsHtml()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="panel-footer clearfix" th:if="${isAuthenticated}==false">
     	 	 <div class="col-xs-6">
	             <a href="#" th:href="@{/signup}" class="col-md-12 btn btn-info" role="button">Sign Up</a>
             </div>
	   		<div class="col-xs-6">
	             <a href="#" th:href="@{/login}" class="col-md-12 btn btn-info" role="button">Login</a>
             </div>
        </div>
    </div>
</section>

</body>
</html>